<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{planet.name}}</title>
    </head>
    <body>
        <ul>
          {% for key,value in planet %}
            <li>{{key}}: {{value}}</li>
          {% endfor %}
        </ul>
    </body>
</html>
